* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:.7s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-transition:.7s;
  -moz-transition:.7s;
  -ms-transition:.7s;
  -o-transition:.7s;
}
:root {
  --m-main: 140px;
  --p-main: 170px;
  --m-color: #007cff;
  --m-liHei: 1.8;
}
html, * {
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
}
html {
  scrollbar-width: auto;
  scrollbar-color: rgb(0, 255, 0) #f0f0f0;
}
body {
  font-family: 'Roboto Slab', serif, 'Open Sans', sans-serif;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  background-color: var(--m-color);
}
::-moz-scrollbar {
  width: 15px;
}
::-moz-scrollbar-track {
  background-color: #f0f0f0;
}
::-moz-scrollbar-thumb {
  background-color: var(--m-color);
}
::-ms-scrollbar {
  width: 15px;
}
::-ms-scrollbar-track {
  background-color: #f0f0f0;
}
::-ms-scrollbar-thumb {
  background-color: var(--m-color);
}
::-o-scrollbar {
  width: 15px;
}
::-o-scrollbar-track {
  background-color: #f0f0f0;
}
::-o-scrollbar-thumb {
  background-color: var(--m-color);
}
input:focus, textarea:focus {
  outline: none;
}
input:hover, textarea:hover {
  outline: none;
} 
input, textarea {
  outline: none;
  border: 1px solid var(--m-color);
}
input::placeholder, textarea::placeholder {
  color: var(--m-color);
}
li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
p {
  color: rgba(119, 119, 119, 50%);
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.container {
  margin-left: var(--m-main);
  margin-right: var(--m-main);
  max-width: 100%;
  position: relative;
}
.main-h {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3em;
  width: 100%;
  margin-bottom: 180px;
  position: relative;
}
.main-h::before {
  width: 130px;
  height: 2px;
  bottom: -30px;
}
.main-h::after {
  width: 20px;
  height: 20px;
  bottom: -40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main-h::after, .main-h::before {
  content: '';
  position: absolute;
  background-color: var(--m-color);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
/* End Project */